note.txt
pdfcrawl.py
ProductScope_FAQ.pdf
ProductScope_FAQ.csv
pushvectordb.py
test.py
try.py
.env
FAQ_chatbot.py
SQP_TestData.csv
andy-bulk.xlsx
test2.py
RoseWaterHydrosol_110ml_1595bd3f-f550-4221-8143-69804a580ac1_1200x1200.jpg